:root {
  --title-color: #091e42;
  --text-color: #344563;
  --info-color: #6b778c;
  --purple-shade: #ebebff;
  --light-purple: #7f8cff;
  --calm-purple: #6070ff;
  --bold-purple: #4053fc;
  --icon-color: #505f79;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

  /* border: 1px solid red; */
}

body {
  /* width: 100vw; */

  /* height: 100vh; */
  background-color: #e5e5e5;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 375px;
}

/* header {

} */

nav {
  /* padding-left: 1em; */

  /* padding-right: 1em; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 24px 10px 24px;
  background-color: #fff;
}

.logo {
  text-decoration: none;
  color: var(--calm-purple);
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hamburger {
  color: var(--calm-purple);
  width: 24px;
  height: 24px;
}

.main-container {
  margin-top: 0;
  background-color: #fff;
}

.intro {
  background-image: url(./assets/hero-background.svg);
  background-size: cover;
  height: 604px;
}

.intro-text {
  display: flex;
  flex-direction: column;

  /* align-items: flex-start; */
  padding: 114px 24px 0 24px;

  /* width: 100%; */
}

.greeting {
  /* font-size: 40px;
  letter-spacing: 0.37px;
  line-height: 30px;
  margin-bottom: 0.5em; */
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.bio {
  margin-top: 13px;
  width: 95%;
  max-width: 640px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  text-align: justify;
}

.letsconnect {
  /* margin-top: 4%;
  margin-bottom: 1%; */
  margin: 4% 0 1% 0;
  font-size: 16px;
}

.icons {
  color: var(--icon-color);
  font-size: 20px;
  padding-top: 0.2em;
  padding-bottom: 5em;
}

.light-purple {
  color: var(--light-purple);
  font-weight: 500;
}

.h-text {
  color: var(--title-color);
  font-weight: 700;
}
